@tailwind base;
@tailwind components;
@tailwind utilities;

body .dark {
    background-color: #1e293b;
}

.light .card {
    background-color: #f9fafb;
    color: black;
}

.dark .card {
    background-color:  #0f172a;
    color: white;
}

.light .selected-link {
    background-color: #f3f4f6;
} 

.dark .selected-link {
    background-color: black;
}